
body {
	margin: 0px;
	padding:10px;
}

section {
	width: 800px;
	margin: auto;
	padding: 10px;
	zborder: 1px solid red;
	text-align: center;
}

h1 {
	width: 100%;
	text-align: center;
	font-size: 20px;
	margin: 0px;
}

h2 {
	width: 100%;
	text-align: center;
	font-size: 12px;
	margin: 0px;
}


#frontLabel {
	width: 100%;
	font-size: 20px;
	text-align: center;
	padding: 10px;
	margin-bottom: 0px;
	zborder: 1px solid black;
}

#dataLoadMsg, #submitMsg {
	margin: 0px, auto;
	text-align: center;
	color: red;
}

/* seating chart */

table#seats {
	zborder: 1px solid black;
	margin: auto;
	padding: 10px;
	zdisplay: inline;
	text-align: center;
	border-spacing: 1px;
    border-collapse: separate;
}

tr {
	margin: 0px;
	padding: 0px;
}

td {
	border: 1px solid black;
	margin: 0px;
	width: 80px;
	height: 40px;
	text-align: center;
}

.isle {
	width: 10px;
	border: 1px solid white;
	color: white;
}

.seat:hover {
	cursor: pointer;
}

.seatNum {
	font-size: 50%;
	left: 1px;
	top: 1px;
}

.answerSubmitted {
	border-color: blue;
	color: blue;
}

textarea, pre {
    -moz-tab-size : 4;
      -o-tab-size : 4;
         tab-size : 4;
}

/* answers */
#answerControls {
	width: 20%;
	zborder: 1px solid black;
	float: left;
	zpadding: 5px;
}

#answerControls button {
	width: 110px;
	margin-bottom: 5px;
}

#answers {
	margin-left: 20%;
	border: 1px solid black;
	text-align: left;
	min-height: 800px;
	zpadding: 5px;
}

.answer {
	border: 1px solid black;
	padding: 5px;
	font-family: "Courier New", Courier, monospace;
	font-size: 15px;
}

.answer button {
	float: right;
}

.hidden {
	display: none;
}
/*html, body, form, h1, label, input {
	border: 0;
	font-size: 100%;
	font: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

body {
	background-color: #F8F8F8;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.8;
	margin: 0 auto;
	max-width: 47.5em;
	padding-top: 1em;
	word-wrap: break-word;
}
